services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    restart: on-failure:5
    ports:
      - 8080:8080
      - 8787:8787
    command:
      - start-dev
      - --import-realm
      - --features=admin-fine-grained-authz,scripts,token-exchange
    volumes:
      - ./target/keycloak-extensions-1.0.jar:/opt/keycloak/providers/keycloak-extensions-1.0.jar
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_DB=dev-file
      - DEBUG=true
      - DEBUG_PORT='*:8787'
      - KC_LOG_LEVEL=info